:root {
    --background-color: linear-gradient(315deg, #4b3f72 0%, #2c234d 74%);
    --footer: #1A1627;
    --onfooter: #2B2541;
    --header: #7C729F;
    --button: #ADA4CC;
    --lighter-header: #9D91C3;
    /* Lighter shade of purple for the top of the navbar */
    --background-color-start: #4b3f72;
    /* Start color for background gradient */
    --background-color-end: #2c234d;
}

body,
html {

    margin: 0;
    min-height: 100vh;
    background: var(--background-color);
    user-select: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
    font-weight: bold;
    color: white;
    font-size: xx-large;
}

p {
    font-size: large;
    color: white;
}





@keyframes bounce {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-5px);
    }

    100% {
        transform: translateY(0);
    }
}

.bounce-on-hover:hover {
    animation: bounce 0.5s infinite;
    text-decoration: none;
}

.credit-item {
    background-color: var(--onfooter);
    padding-top: 0.5rem;
    /* py-2 */
    padding-left: 2rem;
    /* px-8 */
    padding-right: 2rem;
    /* px-8 */
    border-radius: 0.375rem;
    /* rounded */
    margin: 0 10px;
    /* Adjust margin between items as needed */
    color: #ffffff;
    text-decoration: none;
}

.credit-item p,
.credit-item a {
    font-size: medium;
    display: inline-block;
    color: inherit;
    /* Inherit text color */

}

.credit-item i {
    display: inline-block;
    vertical-align: text-top;
    /* Align elements vertically */
    margin-left: 5px;
    margin-top: 8px;
    /* Adjust margin between text and icon as needed */
}

.credits {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: var(--footer);
    padding: 10px 0;
    /* Adjust padding as needed */
    box-sizing: border-box;
    /* Ensure padding is included in width */
    z-index: 1000;
    /* Ensure it's above other content */
}


.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-item {
    margin-left: 5rem;
}

.nav-link {
    font-size: 1rem;
    font-weight: 400;
    color: var(--footer)
}


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
}


nav {
    background: linear-gradient(to bottom, var(--lighter-header), var(--background-color-start)), linear-gradient(315deg, var(--background-color-start) 0%, var(--background-color-end) 74%);
    user-select: none;
    padding: 2rem;
    font-size: large;
    color: var(--footer);

}

.logo img {
    height: 50px;
    width: auto;
}

.nav-link a {
    padding: 0 15px;
    display: block;
}

.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: var(--background-color-end);
}


.nav-menu a:not(:last-child)::after {
    content: '⋮';
    margin-left: 25px;
    margin-right: 5px;
    color: var(--footer);
    /* This sets the color of the bars */
    font-size: 40px;
    /* Adjust the size of the bar */
    font-weight: lighter;
    line-height: 0;
    /* Align the bar vertically */
    display: inline-block;
    /* Allows the height to be adjusted */
    vertical-align: top;
    /* Aligns the bar vertically */
    padding-top: .3em;
    /* Adjust space on the top, if necessary */
    padding-bottom: .3em;
    /* Adjust space on the bottom, if necessary */
}


.nav-link:hover {
    color: white;
    text-decoration: none;
}

.logo {
    height: 65px;
}

.text-center {
    text-align: center;
}

.github-link {
    margin-top: 100px;
    text-align: center;
}

.github-link a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: #ADA4CC; /* Use your theme's button color */
    font-weight: bold;
    text-decoration: none;
}

.github-link a:hover {
    text-decoration: none;
    color: white;
}

.github-link i {
    margin-right: 8px;
}



@media screen and (max-width: 567px) {
    .nav-menu {
        position: fixed;
        left: -100%;
        top: 5rem;
        flex-direction: column;
        background: linear-gradient(to bottom, var(--lighter-header), var(--background-color-start)), linear-gradient(315deg, var(--background-color-start) 0%, var(--background-color-end) 74%);
        width: 100%;
        text-align: center;
        transition: 0.3s;
        box-shadow:
            0 10px 27px rgba(0, 0, 0, 0.05);
    }

    .nav-menu.active {
        left: 0;
    }

    .nav-item {
        margin: 2.5rem 0;
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }


    .credits {
        flex-direction: row; /* Stack the credit items vertically */
        align-items: center; /* Center-align the items */
        padding: 5px 0; /* Reduce padding */
    }

    .credit-item {
        margin: 5px 5px; /* Reduce vertical margin and remove horizontal margin */
        padding: 5px; /* Increase padding for better touch targets */
        box-sizing: border-box; /* Ensure padding is included in width */
        
    }

    .credit-item p,
    .credit-item a {
        font-size: small; /* Reduce font size to fit smaller screens */
        text-align: center; /* Center-align the text */
    
    }

    .credit-item i {
        font-size: large; /* Optionally increase icon size for better visibility */
       
    }
}