<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us - IDN Homograph Attack Detector</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.0.3/dist/tailwind.min.css" rel="stylesheet">
    <link href="/static/styles.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/815a144f2f.js" crossorigin="anonymous"></script>
    <link rel="apple-touch-icon" sizes="180x180" href="/static/favicon_package_v0.16/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon_package_v0.16/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon_package_v0.16/favicon-16x16.png">
    <link rel="manifest" href="/static/favicon_package_v0.16/site.webmanifest">
    <link rel="mask-icon" href="/static/favicon_package_v0.16/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="/static/favicon_package_v0.16/favicon.ico">
    <meta name="msapplication-TileColor" content="#603cba">
    <meta name="msapplication-config" content="/static/favicon_package_v0.16/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
</head>

<body>
    <nav>
        <div class="container">
            <img src="/static/logo.png" alt="IDN Homograph Attacks Logo" class="logo">

            <div class="nav-links">
                <a href="/" class="p-2">Home</a>
                <a href="/howitworks" class="p-2">How it Works</a>
                <a href="/about" class="p-2">About Us</a>
            </div>
        </div>
    </nav>
    <div>
        <div class="body-container">
            <h1>About Us</h1>
            <p>We are a team dedicated to enhancing online security. Our mission is to protect users from IDN homograph
                attacks by providing a robust detection system.</p>
            <div class="person">
                <p>
                    Hello! My name is Rayan Bouhal. I am a Computer Science student at Virginia Tech, where I conduct
                    research in computer vision under Dr. Hoda Eldardiry at The Machine Learning Laboratory. My academic
                    interests include software development, computer vision, and cloud computing. Outside of my studies,
                    I enjoy soccer, swimming, and cooking. I support FC Barcelona, a team I have followed since
                    childhood. My family, particularly my older sister and father who are in the software engineering
                    field, serve as my professional inspirations. I aspire to use my abilities to contribute positively
                    to society and create a lasting impact.</p>
                <img src="/static/rayan.jpg" alt="Rayan Bouhal">
            </div>

            <div class="person">
                <p>Hello! My name is Angelie Nguyen. I am a junior majoring in Computer Engineering with a minor in
                    Computer Science. I am passionate about sociotechnical innovation and navigating the balance between
                    technology's impact and its integration into our daily lives. Some of my interests include computer
                    vision, robotics, and generative AI.</p>
                <img src="/static/angelie.png" alt="Angelie Nguyen">
            </div>

            <div class="person">
                <p>Hello! My name is Andrew Merdes. I am currently a Computer Engineer at Virginia Tech pursuing a minor
                    in Computer Science. My interests related to the field are digital design with FPGAs, Machine
                    Learning, and Artificial Intelligence. My other hobbies include listening to music, playing the
                    keyboard, pickleball, ping-pong, going on hikes, and doing parkour. I have three younger siblings. I
                    have also moved around the U.S. a total of 6 times.</p>
                <img src="/static/andrew.jpg" alt="Andrew Merdes">
            </div>


        </div>
    </div>
    <!-- Include the credits and script tag from the index.html -->
    <div class="credits">
        <div class="credit-item">
            <a href="https://www.linkedin.com/in/rayanbouhal" target="_blank">
                <p>Rayan Bouhal</p>
                <i class="fa-brands fa-linkedin fa-xl bounce-on-hover"></i>
            </a>
        </div>
        <div class="credit-item">
            <a href="https://www.linkedin.com/in/angelie-nguyen-195746216/" target="_blank">
                <p>Angelie Nguyen</p>
                <i class="fa-brands fa-linkedin fa-xl bounce-on-hover"></i>
            </a>
        </div>
        <div class="credit-item">
            <a href="https://www.linkedin.com/in/andrew-merdes-6a6693279/" target="_blank">
                <p>Andrew Merdes</p>
                <i class="fa-brands fa-linkedin fa-xl bounce-on-hover"></i>
            </a>
        </div>
    </div>
</body>

</html>