<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IDN Homograph Attack Detector</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.0.3/dist/tailwind.min.css" rel="stylesheet">
    <link href="/static/styles.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/815a144f2f.js" crossorigin="anonymous"></script>
    <link rel="apple-touch-icon" sizes="180x180" href="/static/favicon_package_v0.16/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon_package_v0.16/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon_package_v0.16/favicon-16x16.png">
    <link rel="manifest" href="/static/favicon_package_v0.16/site.webmanifest">
    <link rel="mask-icon" href="/static/favicon_package_v0.16/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="/static/favicon_package_v0.16/favicon.ico">
    <meta name="msapplication-TileColor" content="#603cba">
    <meta name="msapplication-config" content="/static/favicon_package_v0.16/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
</head>

<body>
    <nav>
        <div class="container">
            <img src="/static/logo.png" alt="IDN Homograph Attacks Logo" class="logo">

            <div class="nav-links">
                <a href="/" class="p-2">Home</a>
                <a href="/howitworks" class="p-2">How it Works</a>
                <a href="/about" class="p-2">About Us</a>
            </div>
        </div>
    </nav>

    <div class="full-center">
        <div class="text-center">
            <h1>Check Domain Safety</h1>
            <p>Enter a domain to check if it's safe from IDN homograph attacks.</p>
            <input type="text" id="domainInput" placeholder="Enter domain here...">
            <button onclick="checkDomain()">Is this domain safe?</button>
        </div>
    </div>
    <div class="credits">
        <div class="credit-item">
            <a href="https://www.linkedin.com/in/rayanbouhal" target="_blank">
                <p>Rayan Bouhal</p>
                <i class="fa-brands fa-linkedin fa-xl bounce-on-hover"></i>
            </a>
        </div>
        <div class="credit-item">
            <a href="https://www.linkedin.com/in/angelie-nguyen-195746216/" target="_blank">
                <p>Angelie Nguyen</p>
                <i class="fa-brands fa-linkedin fa-xl bounce-on-hover"></i>
            </a>
        </div>
        <div class="credit-item">
            <a href="https://www.linkedin.com/in/andrew-merdes-6a6693279/" target="_blank">
                <p>Andrew Merdes</p>
                <i class="fa-brands fa-linkedin fa-xl bounce-on-hover"></i>
            </a>
        </div>
    </div>



    <script>
        function checkDomain() {
            const domain = document.getElementById('domainInput').value;
            if (domain) {
                fetch('/check_domain', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({ domain: domain })
                })
                    .then(response => response.json())
                    .then(data => {
                        alert(data.message);
                    })
                    .catch(error => console.error('Error:', error));
            } else {
                alert('Please enter a domain name.');
            }
        }
    </script>
</body>

</html>